@model WebApplication_Slicone_Supplier.Models.PhoneModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PhoneModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Model Brand</label>
                <select asp-for="ModelBrandId"  class="form-control" >
                    @foreach(var option in ViewBag.Brands)
                    {
                        <option value="@(Convert.ToInt32(@option.Value))">@option.Text</option>
                    }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AgentPrice" class="control-label"></label>
                <input asp-for="AgentPrice" type="number" asp-format="{0:F2}" class="form-control" />
                <span asp-validation-for="AgentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPrice" class="control-label"></label>
                <input asp-for="CustomerPrice" type="number" asp-format="{0:F2}" class="form-control" />
                <span asp-validation-for="CustomerPrice" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <label class="control-label">Upload File</label>
                <input id="image" class="form-control" type="file" name="file" />
                <div class="holder">
                    <img id="imgPreview" class="imgUpload" src="#" alt="pic" width="250px" height="250px" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
