@page
@model WebApplication_Slicone_Supplier.Areas.Admin.Pages.User.AssignRoleModel
@{
    ViewData["Title"] = "Assign Role";
}

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="form-floating mb-3">
                
                @Html.ListBoxFor(m=>m.RoleName , Model.allRoles , new{
                    id="id-select-role",
                    @class="form-control"
                })
                <label asp-for="RoleName" class=""></label>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <button type="submit" class=" btn btn-primary">Assign Role</button>
            <a class="btn btn-primary mt-1" asp-page="./Index">Back To Users List</a>
        </form>

    </div>
</div>